<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  
  <appSettings>
    <add key="LoggingIntervalType" value="Minutes" />
    <add key="LoggingTimeInterval" value="1" />
    <add key="AllowedApplicationIdleTime" value="30" />
    <add key="AllowedApplicationIdleIntervalType" value="Minutes" />

  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets>
      <target name="file" xsi:type="File" fileName="${specialfolder:folder=DesktopDirectory}/Resources/Logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>

  <modules>

    <module moduleName="FileAccess" startupLoaded="true" assemblyFile="E3Tech.IO.FileAccess.dll"
            moduleType="E3Tech.IO.FileAccess.FileAccessModule, E3Tech.IO.FileAccess"/>
 
    <module moduleName="FrameworkModule" startupLoaded="true" assemblyFile="E3.ReactorManager.Framework.dll"
            moduleType="E3.ReactorManager.Framework.FrameworkModule, E3.ReactorManager.Framework"/>
 
    <module moduleName="DialogServicesModule" startupLoaded="true" assemblyFile="E3.DialogServices.dll"
            moduleType="E3.DialogServices.DialogServicesModule, E3.DialogServices"/>
 
    <module moduleName="Mediator" startupLoaded="true" assemblyFile="E3.Mediator.dll"
            moduleType="E3.Mediator.MediatorModule, E3.Mediator"/>
 
    <module moduleName="ReportsManager" startupLoaded="true" assemblyFile="E3.ReactorManager.ReportsManager.dll"
            moduleType="E3.ReactorManager.ReportsManager.ReportsManagerModule, E3.ReactorManager.ReportsManager"/>
   
    <module moduleName="AuditTrailManager" startupLoaded="true" assemblyFile="E3.AuditTrailManager.dll"
            moduleType="E3.AuditTrailManager.AuditTrailManagerModule, E3.AuditTrailManager">
      <dependencies>
        <dependency moduleName="DbModule"/>
        <dependency moduleName="ReportsManager"/>
        <dependency moduleName="MediatorModule"/>

      </dependencies>
    </module>
    
    <module moduleName="UserManagerModule" startupLoaded="true" assemblyFile="E3.UserManager.dll"
            moduleType="E3.UserManager.UserManagerModule,E3.UserManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" >
      <dependencies>
        <dependency moduleName="DbModule" />
        <dependency moduleName="DialogServicesModule" />
        <dependency moduleName="FrameworkModule" />
        <dependency moduleName="MediatorModule"/>
      </dependencies>
    </module>
    
    <module moduleName="DbModule" startupLoaded="true" assemblyFile="E3.ReactorManager.DataAbstractionLayer.dll"
            moduleType="E3.ReactorManager.DataAbstractionLayer.DataAbstractionLayerModule, E3.ReactorManager.DataAbstractionLayer">
      <dependencies>
        <dependency moduleName="FrameworkModule"/>
      </dependencies>
    </module>
    
    <module moduleName="HwModule" startupLoaded="true" assemblyFile="E3.ReactorManager.HardwareAbstractionLayer.dll"
            moduleType="E3.ReactorManager.HardwareAbstractionLayer.HardwareAbstractionLayerModule, E3.ReactorManager.HardwareAbstractionLayer">
      <dependencies>
        <dependency moduleName="DbModule"/>
        <dependency moduleName="FrameworkModule" />

      </dependencies>
    </module>
    
    <module moduleName="UiModule" startupLoaded="true" assemblyFile="Anathem.Ui.dll"
            moduleType="Anathem.Ui.UiModule, Anathem.Ui">
      <dependencies>
        <dependency moduleName="AuditTrailManager"/>
        <dependency moduleName="HwModule"/>
        <dependency moduleName="MediatorModule"/>

      </dependencies>
    </module>
    
    <module moduleName="NavigationModule" startupLoaded="true" assemblyFile="E3Tech.Navigation.dll" moduleType="E3Tech.Navigation.NavigationModule, E3Tech.Navigation"/>
    
    <module moduleName="RecipeModule" startupLoaded="true" assemblyFile="E3Tech.RecipeBuilding.dll"
            moduleType="E3Tech.RecipeBuilding.RecipeBuildingModule, E3Tech.RecipeBuilding">
      <dependencies>
        <dependency moduleName="HwModule"/>
        <dependency moduleName="NavigationModule"/>
        <dependency moduleName="FileAccess"/>
      </dependencies>
    </module>

    <module assemblyFile="E3.Mediator.dll" moduleType="E3.Mediator.MediatorModule, E3.Mediator" moduleName="MediatorModule" startupLoaded="true"/>


  </modules>

  <connectionStrings>
    <add name="DBconnection" connectionString="Data Source=DESKTOP-S5LER8K; Initial Catalog=Anthem;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>